<div class="home">
	<div class="left-panel">
		<h1>Chat Rooms</h1>

		<button ng-click="home.openAddRoom()">Add New Room</button>

		<div ng-repeat="room in home.rooms">
			<h3>{{ room.$value }}</h3>
		</div> <!-- ng repeat -->
		<p style="padding-bottom: 30px">(The End)</p>
	</div> <!-- left-panel -->

	<div class="page-content">
		<div class="header-stuff">
			<h1 class="text-center">Future Name of Room</h1>

			<div class="new-message">
	        	<p><small>Write a new message:</small></p>
	        	<input type="text"/>
	        	<button>Send</button>
	    	</div>
    	</div> <!-- header stuff -->

		<div class="message-line">
			<h4 class="sender-name">Barack Obama
				<small>(sent 3 seconds ago)</small>
			</h4>
			<p class="message-text">I know. Do you think we should go back?</p>
		</div>

		<div class="message-line">
			<h4 class="sender-name">Michelle Obama
				<small>(sent 6 seconds ago)</small>
			</h4>
			<p class="message-text">Oh no.  This looks bad.</p>
		</div>
	</div> <!-- page-content -->

</div>
